.status-box {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.prescript-list div {
  vertical-align: middle;
}

.attention_glow {
  -webkit-box-shadow:0 0 20px gray; 
  -moz-box-shadow: 0 0 20px gray; 
  box-shadow:0 0 20px gray;
}
