.status-box {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.prescript-list div {
  vertical-align: middle;
}

.attention_glow {
  -webkit-box-shadow:0 0 20px white; 
  -moz-box-shadow: 0 0 20px white; 
  box-shadow:0 0 20px white;
}

#content {
  padding-top: 30px;
}

#contnent, #interface {
}

.welcome {
  float: right;
  margin-right: 50px;
}

.welcome button {
  margin-left: 20px;
}

.hipster {
  color: inherit;
}

.popover {
  max-width: 400px;
}

.prescript-list tr:hover{
  background-color: #AAA;
}

.operblock_trigger {
  margin-left: 13px;
  width: 35px;
  height: 35px;
  background: url(/web/operblock/res/icon.jpg);
  background-size: contain;  
}

.operblock_trigger:hover {
  background: url(/web/operblock/res/icon-hover.jpg);
  background-size: contain;
}

.bfh-selectbox .bfh-selectbox-options ul {
  max-width: 1000px !important;
}

.bfh-selectbox.open {
  margin-left: -50%;
}

.bfh-selectbox a{
  font-size: 0.9rem;
}