AneZav approve
Выбор анестезиолога
<%= this.DeferRender('people/staff', 'staff/FilterByJob?filter=anevrach') %>
Выбор медсестры
<%= this.DeferRender('people/staff', 'staff/FilterByJob?filter=anemes') %>

<input type='text' name='assist' placeholder='Ассистентка' />
<input type='text' name='dejob' placeholder='Дежоб' />

<button role='submit' class='btn btn-default'>Подтвердить</button>

<%
this.Defer(function()
{
  this
    .first()
    .siblings("button[role='submit']")
    .click(function()
    {
      phoxy.ApiAnswer({'error' : 'Debug: On approval'});
    });
});
%>
