<div class="form-group" >
  <label>Хирург</label>
  <%= this.DeferRender('people/staff', 'staff/FilterByJob?filter=hivrach') %>
</div>

<div class="form-group" >
  <label>Трансфузолог</label>
  <%= this.DeferRender('people/staff', 'staff/FilterByJob?filter=dracula') %>
</div>

<div class="form-group" >
  <label>Ассистентка</label>
  <input type='text' name='assist' class='form-control'/>
</div>

<div class="form-group" >
  <label>Дежурный оперблока</label>
  <input type='text' name='dejob' class='form-control'/>
</div>

<div class="form-group row" data-mark="snap">
  <div class='col-md-6'>
    <div name="date" class="bfh-datepicker" min="today">
    </div>
  </div>
  <div class='col-md-6'>  
    <div class="bfh-timepicker">
    </div>
  </div>
</div>

<div class="form-group" data-mark="desk">
  <label >Примечание</label>
  <textarea class="form-control" ></textarea>
</div>


<button role='submit' class='btn btn-default'>Подтвердить</button>

<%
this.DeferCascade(function()
{
  this.first().find('input').attr('name', 'levrach');
  this.first().next().find('input').attr('name', 'dracula');
  var snap = this.first().nextAll('[data-mark="snap"]');
  snap.find(".bfh-datepicker").bfhdatepicker();
  snap.find(".bfh-timepicker").bfhtimepicker();

  this
    .first()
    .siblings("button[role='submit']")
    .click(function()
    {
      var parent = __context.first().parent();
      var people =
      [
        ['hivrach', parent.find('input[name="levrach"]').val()],
        ['dracula', parent.find('input[name="dracula"]').val()],
        ['assist',  parent.find('input[name="assist"]').val()],
        ['dejob', parent.find('input[name="dejob"]').val()],
      ];
      var id = __context.first().parents('.modal').find('[data-mark="id"]').html();

      var snap = 
        parent.find('input[name="date"]').val()
          + ' '
          + parent.find('input[name="time"]').val();
      phoxy.ApiRequest('prescript/UpdateSnap', [id, snap]); 

      Approve(id, people, function(data)
      {
        phoxy.ApiAnswer({'reset': true});
      });
    });
});
%>
