<script src='/web/operblock/js/approve.js' language='javascript'></script>
<div data-mark='presctipts'>

<%
var t = {};
function Attached(target)
{
  var obj = target.find('tr:last');

  if (typeof t.tr == 'undefined')
    return MakeCool(obj);
  var list_id = target.attr('data-id');
  var oper_id = $(t.tr).attr('data-id');

  $(t.tr).remove();
  obj.attr('data-id', oper_id);
  MakeCool(obj);

  phoxy.ApiRequest('operation/AssignToGroup', [oper_id, list_id]);
}

function MakeCool(tr)
{
  tr.draggable
  ({
    helper: "clone",
    start: function(event, ui)
    {
      t.helper = ui.helper;
      t.tr = this;
    }
  });
}

function ToCards()
{
  var tr = this.first().find('tr');
  var id = 
    tr.find(':nth-child(2)').each(function()
    {
      $(this)
        .parent()
        .attr('data-id', $(this).html());
    });
  tr.find(':nth-child(2)').css({'display':'none'});
  tr.find(':nth-child(5)').remove();
  tr.find(':nth-child(6)').remove();
  tr.children().css({'max-width': '200px'});
  MakeCool(tr);
}

var to_drdp = this.DeferRender('prescript/FilterByStatus?0=UNCONFIRMED,ONE_APPROVED,TWO_APPROVED,THREE_APPROVED,CRITICAL', undefined, function()
{
  ListModalStatusBoxButton.apply(this, arguments);
  ToCards.apply(this, arguments);
}) %>

<%= this.DeferRender('dragndrop/desk.ejs', {attached: Attached, make_draggable: MakeCool}, function()
{
  this.first().find('tr:first td:first').html(to_drdp);
}) %>

</div>

<%=
this.DeferRender
(
  function(data)
  {
    if ($('#approve_modal').size())
      return 'utils/empty';
    return 'utils/modal';
  },
  {
    id : 'approve_modal',
    title : 'Утверждение операции #<u data-mark="id"></u>(<u data-mark="patient-name"></u>) <i data-mark="planned_date"></i>',
    content : function()
    {
      if (window.group == 'zav')
        return this.DeferRender('zav/approve', {})
      return this.DeferRender('zav/aneprove', {})
    },
  },
  function()
  {
    var submit_button = 
      this
        .first()
        .find("[data-mark='modal-body'] button[role='submit']")
        .detach();

    this
      .first()
      .find("[data-mark='modal-foot'] button[role='close']")
      .before(submit_button);
  }
)
%>
