<style type="text/css">
@media print {
  @page {size: landscape}
}
</style>
<%
debugger;
%>

<div style='text-align: center;'>
Список операций отделения ___________________________________________________________ <br>
Дата <% var d = new Date(); %> <%= d.getDay() %>.<%= d.getMonth() %>.<%= d.getFullYear() %>г.
</div>

<table border='1'>
  <tr>
    <th>
      № п/п</th>
    <th>
      ФИО, Дата рождения (возраст), № ИБ,  Дата поступления в  стационар
    </th>
    <th>
      Анализы  крови на  анти-HCV, анти-HBsAg, Ф-50, RW
    </th>
    <th>
      Диагноз (информация из Приложения №1 в строке "Клинический диагноз")
    </th>
    <th>
      Операция
    </th>
    <th>
      Хирург +  Операцион-ная бригада 
    </th>
    <th>
      Анестезиоло-гическая медсестра
    </th>
    <th>
      Операционная медсестра
    </th>
    <th>
      Группа крови, Переливание планируется (информация из Приложения №1 в строке " Необходимость переливания крови ")
    </th>
    <th>
      Наркоз (заполняется Заведующим отделения "Анестезиологии и  реанимации")
    </th>
    <th>
      Дежурный по операционной
    </th>
    <th>        
      Ответственный  за  переливание  крови
    </th>
  </tr>
<%
var id = 0;
for (var k in this.list)
{
  var row = this.list[k];
%>
  <tr>
    <td>
      <%= ++id %>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>    
  </tr>

<%
}
%>
</table>

<div style='bottom: 10px'>
Заместитель главного врача по медицинской  части ________________________/П.В.Криворотько/<br>
<right>Заведующий отделения __________________ /___________________/</right><br>
Комментарии:
</div>