<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<style type="text/css">
body {
  font-family: serif;
  font: menu;
  font-size: 20px;
}</style>
	</head>
	<body>
		<div>
			<p><b> </b></p><p><b>Ф.И.О больного: </b>_____________________________________________ <b>, дата рождения (возраст) </b>________(___)</p>
			<p><b>Номер истории болезни:</b> _______________</p>
			<p><b>Место жительства: </b><i>(информация подставляется из рег. корточки пациента "Адрес регистрации")</i></p>
			<p><b>Дата поступления: ___________________________</b></p>
			<p><b>Дата операции: ______________________________</b></p>
			<p><b>Диагноз до операции: </b><i>(информация подставляется из Приложения №1 из поля "Клинический диагноз:")</i></p>
			<p><b>Диагноз после операции: _______________________________________________________________________</b></p>
			<p><b>Наименование операции: _______________________________________________________________________</b></p>
			<p><b>Хирург: ____________________________________</b></p>
			<p><b>Операционная бригада _________________________________________________________________________</b></p>
			<p><b>Анестезия: ____________________________________________________________________________________</b></p>
			<p><b>Анестезиолог: _________________________________________________________________________________</b></p>
			<p><b>Время начала операции: __:__ Время окончания операции __:__</b></p>
			<p><b>Длительность операции:</b><i> ( рассчитывать автоматически по формуле: Время окончания операции __:__ минус Время начала операции: __:__ ) </i><b>Кровопотеря: _______________________</b></p>
			<p><b>Осложнение во время операции: ________________________________________________________________</b></p>
			<p><b>Осложнение после операции: __________________________________________________________________</b></p>
			<p><b>Исход операции </b>(дата выписки или смерти)</p><p><b>Гистологическое заключение № ________________ от ___________________</b></p>
			<p style="text-align: center; text-align: center;"><b></b></p><p style="text-align: center; text-align: center;"><b>ПРОТОКОЛ ОПЕРАЦИИ </b></p>
			<p style="text-align: center; text-align: center;"><b>________________________________________________________________________________________________________________________________________________</b>
			</p><p style="text-align: center; text-align: center;"><b>________________________________________________________________________________________________________________________________________________</b></p>
			<p style="text-align: center; text-align: center;"><b>________________________________________________________________________________________________________________________________________________</b></p>
			<p style="text-align: center; text-align: center;"><b>________________________________________________________________________________________________________________________________________________</b></p>
			<p style="text-align: center; text-align: center;"><b>________________________________________________________________________________________________________________________________________________</b></p>
			<p style="text-align: center; text-align: center;"><b>________________________________________________________________________________________________________________________________________________</b></p>
			<p style="text-align: center; text-align: center;"><b>________________________________________________________________________________________________________________________________________________</b></p>
			<p style="text-align: center; text-align: center;"><b>________________________________________________________________________________________________________________________________________________</b></p>
			<p style="text-align: center; text-align: center;"><b>________________________________________________________________________________________________________________________________________________</b></p>
			<p style="text-align: center; text-align: center;"><b>________________________________________________________________________________________________________________________________________________</b></p>
			<p><b>Препарат: ___________________________________________________________________</b></p>
			<p style="text-align: right; text-align: right;">
			</p><p><b>подпись Хирурга _______________________________________/__________________/</b></p>
		</div>
</body>
</html>