<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title></title>
  <style type="text/css">
  <!--
    @page { size: 8.27in 11.69in; margin-left: 0.69in; margin-right: 0.59in; margin-top: 0.79in; margin-bottom: 0.79in }
    p { margin-bottom: 0.1in; direction: ltr; line-height: 120%; text-align: left; widows: 2; orphans: 2 }
  -->
  </style>
</head>
<body lang="ru-RU" dir="ltr">
<p align="right" style="margin-bottom: 0.14in; line-height: 115%"><b>Приложение
№ 2</b></p>
<p align="center" style="margin-bottom: 0.14in; line-height: 115%"><font size="4" style="font-size: 14pt"><b>ИНФОРМИРОВАННОЕ
СОГЛАСИЕ НА ВЫПОЛНЕНИЕ ИНВАЗИВНОГО
ИССЛЕДОВАНИЯ, ВМЕШАТЕЛЬСТВА, ОПЕРАЦИИ</b></font></p>
<p align="justify" style="margin-bottom: 0.14in; line-height: 115%">Санкт-Петербург               
    &quot;<u>10</u>&quot;<u> июня </u>2014г.</p>
<p align="justify" style="text-indent: 0.39in; margin-bottom: 0.14in; line-height: 115%">
  Настоящее добровольное согласие
составлено в соответствии со статьями
30, 31,32,33 Основ законодательства РФ об
охране здоровья граждан от22 июля 1993
года №5487-1 <br> 1.Мне, (Ф.И.О. пациента или
его законного представителя)
___________________________ разъяснены состояние
моего здоровья и характер необходимых
диагностических мероприятий.<br>  2.Настоящим
я доверяю <u>Врачу Криворотько П.В</u> (в дальнейшем
Врач) и его коллегам выполнить следующие
инвазивные исследования, вмешательства,
операции:
<br>__________________________________________________________________________________________________________________________________________________________________________
                                    3. Содержание указанных
выше медицинских действий, связанный
с ними риск, возможные осложнения и
последствия, включая нетрудоспособность
и смерть мне известны.        Я хорошо
понял(а) все разъяснения Врача. <br>  4. Я
понимаю, что в ходе выполнения указанных
выше медицинских действий может
возникнуть необходимость выполнения
другого вмешательства, исследования
или операции, не указанных в п.2. Я доверяю
врачу и его ассистентам принять
соответствующее решение, в соответствии
с их проффесиональным суждением, и
выполнить любые медицинские действия,
которые Врач сочтет необходимым для
моего состояния. <br> 5. Я согласен на
переливание донорской крови и ее
компонентов в ходе операции или в
послеоперационном периоде, если возникнет
такая необходимость. <br> 6. Я разрешаю
моему Врачу делать фотографии и
видеозаписи, связанные с моим лечебным
процессом и использовать их для научных
и образовательных целей. <br> 7. Рекомендуемые
мне дополнительные медикаменты,
инструменты и предметы медицинского
ухода я приобретаю добровольно и от
претензий на компенсацию расходов
отказываюсь.</p>
<p align="justify" style="text-indent: 0.39in; margin-bottom: 0.14in; line-height: 115%">
Подпись пациента_____________________</p>
<p align="justify" style="text-indent: 0.39in; margin-bottom: 0.14in; line-height: 115%">
Если пациент не может подписать документ
вследствие тяжести своего физического
состояния или является несовершеннолетним:
  <br>Подпись законного представителя
пациента (ближайшего
родственника)<br>(Ф.И.О.)______________________________________________________/_____________________/<br>Подпись
врача
____________________________________________/_____________________/<br>От
проведения указанных в п.2: отказываюсь,
что и удостоверяю своей подписью. Мне
разъяснены возможные последствия отказа
от, а именно поздняя или неправильная
диагностика заболевания, нетрудоспособность,
смерть.<br>Подпись пациента (или его
законного
представителя)<br>(Ф.И.О.)______________________________________________________/_____________________/<br>Подпись
врача (Ф.И.О.)________________________________________
/_____________________/</p>
</body>
</html>
