<% debugger; %>
<%= this.DeferRender(this.design, this.data, function()
{
  this.first().find('tr').find('th:last').after("<th></th>");
  this.first().find('tr').find('td:last').after("<td></td>");
  __context.up(this);
}) %>