<%= this.chain(function()
{
  this.first().find('tr').find('td:last').each(function()
  {
    var parent = $(this).parent();

    var id = parent.find("[data-mark='id']").html();
    var status = parent.find("[data-mark='status']").val();

    if (status == 'UNCONFIRMED')
    {
      var btn = 
        $('<a><span class="glyphicon glyphicon-pencil"></span></a>')
          .addClass('hipster')
          .click(function()
          {
            $('#state_modal').modal('show');
          });

      $(this).append(btn);
    }
  });

  __context.up(this);
}) %>

<%
var modal_obj =
{
  id : 'state_modal',
  title : 'Предоперационный эпикриз',
  content : function()
  {
    return this.DeferRender('levrach/patient_state_modal', {})
  },
};
%>
<%= this.DeferRender
(
  function(data)
  {
    if ($('#state_modal').size())
      return 'utils/empty';
    return 'utils/modal';
  },
  modal_obj)
%>