Выбор медсестры
<%= this.DeferRender('people/staff', 'staff/FilterByJob?filter=mes') %>

<input type='text' name='assist' placeholder='Санитарка' />

<button role='submit' class='btn btn-default'>Подтвердить</button>

<%
this.Defer(function()
{
  this
    .first()
    .siblings("button[role='submit']")
    .click(function()
    {
      phoxy.ApiAnswer({'error' : 'Debug: On approval'});
    });
});
   debugger;
this.DeferCascade(function()
{
  debugger;
});
%>
