Smob interface

<div data-mark='presctipts'>
<%=
this.DeferRender('prescript/GetList', undefined, function()
{
debugger;
  var first = __context.first();
  console.log(first.find('.prescript-list .status-box'));
  first
    .find('.prescript-list .status-box')
    .hover
    (
      function()
      {
        $(this).addClass('attention_glow');
      }
      ,
      function()
      {
        $(this).removeClass('attention_glow');
      }      
    )
    .click(function()
    {
      var that = $(this);
      var row 
        = that
            .parents("[data-mark='row']");
      var patient_name = row.find("[data-mark='patient']").html();
      var operation_id = row.find("[data-mark='id']").html();

      that.prop('disabled', true);
      $('#approve_smob_modal')
        .modal('toggle');

      $('#approve_smob_modal [data-mark="patient-name"]').html(patient_name);        
      $('#approve_smob_modal [data-mark="id"]').html(operation_id);

      __context.Defer(function()
      {
        that.prop('disabled', false);
      }, 100);
    });
})
%>


<% debugger; %>
</div>

<%=
this.DeferRender
(
  function(data)
  {
    if ($('#approve_smob_modal').size())
      return 'utils/empty';
    return 'utils/modal';
  },
  {
    id : 'approve_smob_modal',
    title : 'Утверждение операции #<u data-mark="id"></u>(<u data-mark="patient-name"></u>)',
    content : function() { return this.DeferRender('smob/approve', {}) },
  },
  function()
  {
    var submit_button = 
      this
        .first()
        .find("[data-mark='modal-body'] button[role='submit']")
        .detach();

    this
      .first()
      .find("[data-mark='modal-foot'] button[role='close']")
      .before(submit_button);
  }
)
%>
