<form action='api/user/Login' method='get'>

<input placeholder='login' type='text' name='login' value='леврач'>
<button class='btn' role='submit'>Войти</button>
</form>

<%
this.Defer(function()
{
  var ancor = $(this.first());
  $(ancor).ajaxForm();
});
%>

ШугиноваТН
МожаевИЛ
ВалгоненЕН
АлексееваЛН - леврач<br>


ИвановВГ - зав<br>
медсестра - смоб<br>
РозенгардСА - анезав<br>
КриворотькоПВ - зам<br>
ЛебедевКК, ДоманскийАА - хирург<br>