Welcome <%= phoxy.DeferRender('people/name', 'user/Name?uid=' + this.GetUID) %> <button role='logout'>Logout</button>

<%
console.log(this);
this.Defer(function()
{
  $(this.first())
    .click(function()
    {
      phoxy.ApiRequest('user/Logout');
    });
});

%>
