<div id="when_quest_finished"></div>

<%
var prescript_id;
var context;
var first;
var name;  
var type;
var hivrach;

function CreateStage4_ReadyToFinish()
{
  $('#when_quest_finished').click(function()
  {
    phoxy.Defer(function()
    {
      window.bootstrap();
      window.bootstrap();
      //'/web/operblock/print_page.php?ejs=print/agree&id=' + prescript_id
    }, 1000);      
  });
}

function CreateStage3_AddHivrach()
{
  phoxy.ApiRequest('user/Name', [hivrach], CreateStage4_ReadyToFinish);
}

function CreateStage2_AddPerpecients(data)
{
  first.parents('.modal').modal('hide');
  
  prescript_id = data.Create;
  $('.prescript_id_receiver').val(data.Create);
  
  AddPerpecients
  (
    data.Create,
    [['hivrach', hivrach]],
    CreateStage3_AddHivrach
  );
}

function CreateStage1()
{
  hivrach = first.nextAll("[name='hivrach']").find('input').val();
  phoxy.ApiRequest
  (
    'prescript/Create',
    [context.id, type.val(), name.val()],
    CreateStage2_AddPerpecients
  );  
}

function EntryPoint()
{
  context = this;
  first = $(this.first());
  name = first.find("input");  
  type = first.nextAll("[name='type']");

  first
    .nextAll("button[role='submit']")
    .click(CreateStage1);
};
%>

<%= this.chain(EntryPoint) %>
