<div id='patient_content'>
  <%= this.DeferRender('levrach/create/entry', this) %>  
  <%= this.DeferRender('levrach/create_prescript_chain', this) %>
</div>

<%
var id = __context.id, shedule = 0;
var target = $(".doctorroom-contentPanel").first();
window.bootstrap = function()
{
  var sheduled = shedule++;
  (function()
  {
    if (sheduled != shedule)
      return;
    console.log("Rebootstrap");
    operblock.LevrachRender(target, id);
    phoxy.Defer(arguments.calee, 500);
  })();

  phoxy.Appeared('#patient_content', function()
  {
    if (shedule == sheduled)
      shedule++;
    console.log("Rebootstrap finished");
  });
}
%>