<div id='patient_content'>
  <%= this.DeferRender('levrach/create_oper_button.ejs', this) %>  
  <% /* this.DeferRender('patient/Info?id=' + this.id, undefined, OnPatientInfoRendered) */ %>
  <%= this.DeferRender('prescript/GetList?id=' + this.id, undefined, Canceling) %>  
</div>
<script src='/web/operblock/js/approve.js' language='javascript'></script>
<%
var patient_id = this.id;
function Canceling()
{
  this.first().find('tr').find('th:last').after("<th></th>")
  this.first().find('tr').find('td:last').each(function()
  {
    var parent = $(this).parent();

    var id = parent.find("[data-mark='id']").html();
    var status = parent.find("[data-mark='status']").val();

    var addon = $('<td></td>');
    if (status == 'UNCONFIRMED')
    {
      var btn = 
        $('<a><span class="glyphicon glyphicon-remove-circle"></span></a>')
          .addClass('hipster')
          .click(function()
          {
            phoxy.ApiRequest('prescript/Delete', [id], function()
            {
              parent.remove();
            });
          });
          //.tooltip({title: "Удалить"});

      addon.append(btn);

      btn = 
        $('<a><span class="glyphicon glyphicon-fire"></span></a>')
          .addClass('hipster')
          .click(function()
          {
            phoxy.ApiRequest('prescript/MakeCritical', [id], function()
            {
              phoxy.Reset();
            });
          });
          //.tooltip({title: "Неотложное/Критическое"});

      addon.append(btn);
    }
    
    $(this).after(addon);
  });
}

function OnPatientInfoRendered()
{
  console.log(arguments);

  $('#patient_content')
    .prepend
    (
      phoxy.DeferRender('levrach/create_oper_button.ejs', this),
      "<br>"
    )
    .append
    (
      phoxy.DeferRender('prescript/GetList?id=' + this.id, undefined, Canceling)
    );
};
%>
