<div id='patient_content'>
  <%= this.DeferRender('levrach/create/entry', this) %>  
  <%= this.DeferRender('levrach/create_prescript_chain', this) %>
</div>

<%
var id = __context.id;
window.bootstrap = function()
{
  var target = $(".doctorroom-contentPanel").first();
  operblock.LevrachRender(target, id);
}
%>