<button class='btn'>Назначить операцию</button>

<%
this.Defer(function()
{
  $(this.first()).click(function()
  {
    $(this).prop('disabled', true);
    $('#create_oper_modal')
      .modal('toggle')
      .find('[data-mark="patient-name"]')
      .html(__context.name);

    phoxy.Defer(function()
    {
      $(__context.first()).prop('disabled', false);
    }, 100);
  });
});
%>

<%
debugger;
var chain =
{
  data: this,
  chain:
  [
    "levrach/create_oper_form",
    "levrach/create/modal",
    "levrach/create/state",
  ]
};
%>

<%=
this.DeferRender
(
  function(data)
  {
    if ($('#create_oper_modal').size())
      return 'utils/empty';
    return 'utils/modal';
  },
  {
    id : 'create_oper_modal',
    title : 'Назначение операции пациенту <u data-mark="patient-name"></u>',
    content : phoxy.DeferRender('levrach/chain/chain', chain),
  }
)
%>