<div class="form-group" data-mark="name">
  <label for="operation-name">Название операции</label>
  <input type='text' id='operation-name' class="form-control" >
</div>
<div class="form-group" data-mark="type">
  <label>Тип операции</label>
  <%= this.DeferRender('levrach/oper_list', {}) %>
</div>

<div class="form-group" data-mark="hivrach">
  <label>Хирург</label>
  <%= this.DeferRender('people/staff', 'staff/FilterByJob?filter=hivrach') %>
</div>

<div class="form-group" data-mark="desk">
  <label >Примечание</label>
  <textarea class="form-control" ></textarea>
</div>

<div class="form-group" data-mark="snap">
  <div class="bfh-datepicker">
  </div>
</div>

<button role='submit' class='btn btn-default'>Назначить</button>
<br>

</form>

<%

function post(path, params, method) {
    method = method || "post"; // Set method to post by default if not specified.

    // The rest of this code assumes you are not using a library.
    // It can be made less wordy if you use one.
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);
    //form.setAttribute("target", "popup");

    for(var key in params) {
        if(params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);

            form.appendChild(hiddenField);
         }
    }

    document.body.appendChild(form);
    form.submit();
}

function CopyNameFromType( type, name )
{
  name
    .keyup(function()
    {
      $(this).prop('user_change', $(this).val().length > 0);
      console.log('keyup');
    });

  type
    .change(function()
    {
      var key = $(this).val();
      var val = 
        $(this)
          .siblings()
          .find('[role="option"] [data-option="' + key + '"]')
          .html();

      if (!name.prop('user_change'))
        name.val(val);
    });
}


this.DeferCascade(function()
{
  var first = $(this.first());
  var name = first.find("input");  
  var type = first.nextAll("[data-mark='type']").find("input").attr('name', 'type');
  first.nextAll("[data-mark='hivrach']").find('input').attr('name', 'hivrach');
  first.nextAll('[data-mark="snap"]').find('.bfh-datepicker').bfhdatepicker();

  CopyNameFromType(type, name);

  function CreateOperation()
  {
    var hivrach = first.nextAll("[data-mark='hivrach']").find('input').val();

    function RedirectToPrint()
    {
      phoxy.ApiRequest('user/Name', [hivrach], function(d)
      {
        $("<a href=\"/web/operblock/print_page.php?id=print/1\" onclick=\"javascript:void window.open('/web/operblock/print_page.php?id=print/1','1406185407149','width=700,height=500,toolbar=1,menubar=1,location=1,status=1,scrollbars=1,resizable=1,left=0,top=0');return false;\">Pop-up Window</a>").click();

        phoxy.Defer(function()
        {
          post(
            '/web/operblock/agree.php', 
            {
              name: $('.modal [data-mark="patient-name"]').html(), 
              operation: $('#operation-name').val(),
              hivrach: d.Name
            });
        }, 1000);      
      });
    }

    function AfterCreate(data)
    {
      first.parents('.modal').modal('hide');
      
      AddPerpecients
      (
        data.Create,
        [['hivrach', hivrach]],
        RedirectToPrint
      );
    }

    phoxy.ApiRequest
    (
      'prescript/Create', 
      [__context.id, type.val(), name.val()],
      AfterCreate
    );  
  }

  first
    .nextAll("button[role='submit']")
    .click(function()
    {
      CreateOperation();
    });
});
%>
