<div id='cur_patient_choose'>

<%= this.DeferRender('patient/Select', undefined, function()
{
  $(this.first().find('input')).change(function()
  {
    patient_id = $(this).val();
    phoxy.RenderInto
    (
      '#patient_content',
      'patient/Info?id=' + patient_id,
      undefined,
      OnPatientInfoRendered
    );
  });
}) %>
</div>
