<div id='cur_patient_choose'>
<%= this.DeferRender('patient/Select', undefined, function()
{
  $(this.first().find('input')).change(function()
  {
    var patient_id = $(this).val();
    phoxy.RenderInto('#patient_content', 'patient/Info?id=' + patient_id, undefined,
    function(ejs, data)
    {
      console.log(arguments);
      $('#patient_content')
        .prepend
        (
          phoxy.DeferRender('levrach/create_oper_button.ejs', data), "<br>"
        );
    });
  });
}) %>
</div>

<div id='patient_content'>
</div>
