Levrach interface

<div id='cur_patient_choose'>
<%= phoxy.DeferRender('patient/Select') %>
</div>

<%
phoxy.Appeared('#cur_patient_choose > div', function()
{
  console.log('change', this);
  $(this).change(function()
  {
    var patient_id = $(this).val();
    console.log('new patient selected ' + patient_id);
  });
});
%>
