<div class='form-group'>
  <label>Основное заболевание</label>
  <textarea class='form-control'></textarea>
</div>

<div class='form-group'>
  <label>Сопутствующие заболевания</label>
  <textarea class='form-control'></textarea>
</div>

<div class='form-group'>
  <label>Обоснование диагноза</label>
  <textarea class='form-control'></textarea>
</div>

<div class='form-group'>
  <label>Морфологическая верификация</label>
  <textarea class='form-control'></textarea>
</div>

<div class='form-group'>
  <label>Показания к операции</label>
  <textarea class='form-control'></textarea>
</div>

<div class='form-group'>
  <label>План операции</label>
  <textarea class='form-control'></textarea>
</div>

<div class='form-group'>
  <label>Необходимость переливания крови</label>
  <textarea class='form-control'></textarea>
</div>

<div class='form-group'>
  <label>Комментарии</label>
  <textarea class='form-control'></textarea>
</div>

<div class='form-group'>
  <label>Руководитель отделения</label>
  <textarea class='form-control'></textarea>
</div>
