<%
var OnOriginalContextCatched;
%>
<%= this.chain(function()
{
debugger;
  var button = 
  this.first()
    .nextAll("button[role='submit']")
    //.hide();
    //.prop('disabled', true)
    //.tooltip({'title': 'Необходимо заполнить эпикриз'});

//  var state =
  //  $("<button class='btn'>Назначить</button>")
      .click(function()
      {
        $('#state_modal').modal('show');
      //  state.hide();
//        button.show();
      });
  //button.before(state);
  OnOriginalContextCatched(this);
}) %>

<%
var modal_obj =
{
  id : 'state_modal',
  title : 'Предоперационный эпикриз',
  content : function()
  {
    return phoxy.DeferRender('levrach/create/state_modal', function(cb)
    {
      OnOriginalContextCatched = cb;
    })
  },
};
%>

<%
this.Defer(function()
{
  var entry_point = 
  phoxy.DeferRender
  (
    function(data)
    {
      if ($('#state_modal').size())
        return 'utils/empty';
      return 'utils/modal';
    },
    modal_obj
  );

  this.first().parents('.modal').after(entry_point);
})
%>