<div
  data-name="<%= this.name %>"
  data-filter="true"
  class="bfh-selectbox"
  <%= this.attrstr || '' %> >
<%
this.Defer(function()
{
  $(this.first()).bfhselectbox('toggle');
});


if (typeof(this.ForeachGetter) != 'function')
  this.ForeachGetter = function( obj )
  {
    return obj;
  };


for (var k in this.options)
{
  var obj = this.options[k];
  var v = this.ForeachGetter(obj);
  if (this.value_is_key)
    k = v;
%>
  <div data-value='<%= k %>'><%= v %></div>
<%
}
%>
</div>

<%
this.Defer(function()
{
  var input =
    $('<input/>')
    .addClass('form-control input-sm')
    .click(function(e)
    {
      return false;
    })
    .keyup(function()
    {
      $(this).trigger('search');
    })
    .on('search', function()
    {
      var arr = $(this).val().split(" ");
      var options = $(this).next().find('a');

      options.each(function()
      {
        var html = $(this).html();
        for (var k in arr)
          if (html.indexOf(arr[k]) != -1)
            return $(this).show();
        return $(this).hide();
      });
    });
  this
    .first()
    .find("[role='listbox']")
    .before(input);
  
});

%>
