<%
dictionary =
{
  UNCONFIRMED     : 'gray',
  ONE_APPROVED    : 'gray',
  TWO_APPROVED    : 'gray',
  THREE_APPROVED  : 'yellow',
  CONFIRMED       : 'green',
  COMPLETED       : 'blue',
  ACCOUNTED       : 'blue',
  CANCELED        : 'red',
  DELETED         : 'black',
};

%>

<div
  class='status-box'
  style='background-color: <%= dictionary[this.status] %>'
  >
  <span class='glyphicon glyphicon-ok'></span>
</div>

<% this.Defer(function()
{
  this.first().find('span').hide();
  this.first().on('complete', function()
  {
    $(this).find('span').show();
  });
});
%>
